<template>
    <form class="mb-4" @submit.prevent="auth">
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input
                v-model="form.email"
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
            >
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Parol</label>
            <input
                v-model="form.password"
                type="password"
                class="form-control"
                id="exampleInputPassword1"
            >
        </div>
        <button type="submit" class="btn btn-primary">Kirish</button>
        <div
            v-if="isLoading"
            class="spinner-border text-success d-block mt-3"
            role="status"
        >
            <span class="sr-only">Loading...</span>
        </div>

    </form>
</template>

<script>

import {mapActions} from "vuex";

export default {
    name: "Login",

    //methods xususiyatida o'zimizning funksiyalarimizni
    //yaratishimiz mumkin.
    methods: {
        ...mapActions(['fetchToken', 'fetchCategories']),
        auth() {
            this.isLoading = true

            this.fetchToken(this.form)
                .then(() => {
                    //token olingach bosh sahifaga o't
                    this.$router.push('/')
                    this.fetchCategories()
                })
                .finally(() => {
                    this.isLoading = false
                })
        },
    },

    //data'da istagan miqdorda o'zgaruvchanlar yaratish mumkin
    data() {
        return {
            form: {
                email: '',
                password: '',
            },
            isLoading: false,
        }
    }
}
</script>

<style scoped>

</style>