<template>
    <!-- kitoblar qatori start -->
    <div class="row">

        <!-- Kitob start -->
        <div
            v-for="book in this.getBooks"
            v-bind:key="book.id"
            class="col-12 col-sm-6 col-lg-3 mb-4"
        >
            <div class="card">
                <img src="/img/otkan-kunlar.jpg" alt="kitob rasmi">
                <div class="card-body">
                    <h5 class="card-title">{{ book.name }}</h5>
                    <p class="card-text">
                        {{ book.description }}
                    </p>
                    <router-link
                        :to="'/book-info/' + book.id"
                        class="btn btn-primary"
                    >
                        O'qish
                    </router-link>
                </div>
            </div>
        </div>
        <!-- Kitob end -->
    </div>
    <!-- kitoblar qatori end -->
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "Books",

    props: {
        categoryId: {
            type: String,
        }
    },

    //computed xususiyatida yozilgan funksiyalarimizni
    //template qismida o'zgaruvchandek murojaat qilish mumkin.
    computed: {
        ...mapGetters(['getBooks']),
        foo() {
            return 'bar'
        }
    },
    methods: {
        ...mapActions(['fetchBooks'])
    },
    mounted() {
        this.fetchBooks()
    },

    //Ushbu xususiyatda funksiyalar yozamiz.
    //Funksiya nomi biror o'zgaruvchan nomiga mos kelishi kerak.
    //Shunda watch biror bir o'zgaruvchanni kuzatib boradi.
    //Agar uning qiymati o'zgarsa - o'zgaruvchan nomi bilan
    //bir xil bo'lgan funksiyani chaqiradi.
    watch: {
        //quyida category qiymati o'zgarsa
        //kitoblarni o'sha kategoryaga moslab olgin dedik
        categoryId() {
            this.fetchBooks(this.categoryId)
        }
    }
}
</script>

<style scoped>

</style>
