<template>
    <div class="list-group">
        <!--
        Attribut nomi oldidan ikki nuqta (:) qo'yilsa
        qiymat sifatida js kod yozish mumkin
        -->
        <router-link
            v-for="category in getCategories"
            v-bind:key="category.id"
            :to="'/by-category/' +  category.id"
            class="list-group-item list-group-item-action"
            aria-current="true"
        >
            {{category.name}}
        </router-link>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "Categories",
    computed: {
        ...mapGetters(['getCategories']),
    },
    methods: {
        ...mapActions(['fetchCategories']),
    },
    mounted() {
        this.fetchCategories()
    }
}
</script>

<style scoped>

</style>
