<template>
    <div id="app">
        <div class="container-fluid">
            <!-- header row start -->
            <div class="row">
                <div class="col">
                    <header class="bg-warning">
                        <NavBar/>
                    </header>
                </div>
            </div>
            <!-- header row end -->

            <!-- main row start -->
            <div class="row mt-4">

                <!-- jarnlar katagi start -->
                <div class="col-12 col-md-2">
                    <Categories/>
                </div>
                <!-- jarnlar katagi end -->
                <!-- content katagi start -->
                <div class="col-12 col-md-10 mt-4 mt-md-0">
                    <router-view/>
                </div>
                <!-- content katagi end -->

            </div>
            <!-- main row end -->


            <div class="row">
                <div class="col">
                    <Footer/>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import NavBar from "./components/NavBar";
import Categories from "./components/Categories";
import Footer from "./components/Footer";
import {mapGetters} from "vuex";

export default {
    name: 'App',
    components: {
        Footer,
        Categories,
        NavBar
    },
    computed: {
        ...mapGetters(['getToken'])
    },
    mounted() {
        if (this.getToken.length === 0) {
            this.$router.push('/login')
        }
    }
}
</script>

<style>
</style>
